
/* Regole generali */
.conteiner{
  background-color: lightpink;
  height: 150px;
  border: 2px solid black;
}

/* Centratura testo */
.center{
  text-align: center;
  line-height: 150px;
}

/* Riga 1 */
.conteiner > #Riga1{
  border-right: 4px solid black;
  height: 100%;
}

/* Riga 2 */
.conteiner > #Riga2{
  border-right: 4px solid black;
  height: 100%;
}

/* Riga 3 */
.conteiner > #Riga3{
  border-right: 4px solid black;
  height: 100%;
}

/* Riga 4 */
.conteiner > #Riga4{
  border-right: 4px solid black;
  height: 100%;
}

/* Riga 5 */
.conteiner > #Riga5{
  border-right: 4px solid black;
  height: 100%;
}

/* Nested box */
#Nested{
  border-right: 1px solid white;
  background-color: orange;
}
